
@import "../../assests/styles/font-face";
@import "../../assests/styles/colors";
@import "../../assests/styles/mixins";

ul {
    margin-top: 32px;
    list-style-type: none;
    width: 685px;
    max-width: 100%;
    @include flexLayout(flex-start,flex-start,column);
    padding: 0;
    li {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      @include boxDesign($whiteColor,$boxShadowTwo,20px);    
      height: 55px;
      margin: 8px 0 8px 0;
      .symbol{
          display: flex;
          align-items: center;
          margin-left: 37px;
          span{
              margin-left: 30px;
          }
      }
      span{
          display: block;
          margin-right: 30px;
          font-family: Roboto-Regular;
      }
    }
  }