@import "../../assests/styles/font-face";
@import "../../assests/styles/colors";
@import "../../assests/styles/mixins";

.select-inputs {
  display: flex;
  width: 685px;
  max-width: 95vw;

  .select-buttons {
    width: 311px;
    height: 52px;
    @include boxDesign($whiteColor,$boxShadowOne,20px); 
    @include flexLayout(center,center,row);
    z-index: 3;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    .select-option {
      width: 100%;
      border: none;
      @include fontDesign($blackColor,Roboto-Regular,18px);
      outline: none;
      appearance: none;
      position: relative;
      text-align: center;
      height: 100%;
      cursor: pointer;
      display: inline-block;
      z-index: 2;
      background: transparent;
    }
    &::after {
      content: url("../../assests/images/Arrow.png");
      position: absolute;
      top: 15px;
      left: 85%;
      z-index: 1;
    }
  }
  button {
    border: none;
    outline: none;
    background: none;
    margin: 0 22px 0 22px;
    cursor: pointer;
  }
}