@import "../../assests/styles/font-face";
@import "../../assests/styles/colors";
@import "../../assests/styles/mixins";

.amount-container {
  margin-top: 32px;
  width: 685px;
  max-width: 100%;
  @include boxDesign($whiteColor,$boxShadowThree,20px);
  .amount {
    width: 90%;
    padding-bottom: 26px;
    margin: 0 auto;
    p {
      @include fontDesign($blackColor,Roboto-Regular,18px);
    }
    .type-mount {
      width: 609px;
      height: 52px;
      max-width: 100%;
      @include boxDesign($whiteColorTwo,none,10px);
      border: 0.5px solid rgba(0, 0, 0, 0.3);
      @include flexLayout(center,space-between,row);
      display: flex;
      overflow: hidden;
      input {
        outline: none;
        border: none;
        height: 100%;
        width: 100%;
        background-color: transparent;
        padding-left: 8px;
        font-family: Roboto-Regular;
        &::-webkit-outer-spin-button {
          appearance: none;
        }
        &::-webkit-inner-spin-button {
          appearance: none;
        }
      }
      button {
        width: 96px;
        background: $whiteColor;
        height: 100%;
        border: none;
        outline: none;
        @include flexLayout(center,center,row);
        transition: .4s ease-in-out;
        &:hover{
          img{
            transform: rotate(180deg);
            transition: .4s ease-in-out;
          }
        }
      }
    }
   
  }
}