@import "./assests/styles/colors";
@import "./assests/styles/mixins";
body{
    margin: 0;
    padding: 0;
    .App{
        @include flexLayout(center,center,row);
        min-height: 100vh;
        .container {
            @include flexLayout(flex-start,flex-start,column);
            width: 685px;
            max-width: 95vw;
        }
    }
}